<div class="container">
  <div class="col-md-6 offset-md-3 mt-5">
    <ngx-audio-player class="audio" [displayTitle]="msaapDisplayTitle "
                      [autoPlay]="true" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="pageSizeOptions"
                      [displayVolumeControls]="msaapDisplayVolumeControls"
                      [displayRepeatControls]="msaapDisplayRepeatControls"
                      crossOrigin="anonymous"
                      [playlist]="msaapPlayist"
                      [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
                      [expanded]="true"></ngx-audio-player>
  </div>
</div>


