<div class="container">
  <ngx-audio-player class="audio" [displayTitle]="msaapDisplayTitle "
                    [autoPlay]="false" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="pageSizeOptions"
                    [displayVolumeControls]="msaapDisplayVolumeControls"
                    [displayRepeatControls]="msaapDisplayRepeatControls"
                    crossOrigin="anonymous"
                    [playlist]="msaapPlayist"
                    [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
  ></ngx-audio-player>
</div>


